<div class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a href="#" class="logo-Listy">
                    {{ title }}
                </a>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a class="button btn-nav-start" [routerLink]="'/how-use'">
                        Como usar
                        <i class="fas fa-question"></i>
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="button btn-nav-start" href="">
                        Compartilhar
                        <i class="fas fa-share"></i>
                    </a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button create-list-button" [routerLink]="'/list'">
                        <i class="fas fa-plus"></i>
                        Criar lista
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="button create-list-button" [routerLink]="'/login'">
                        <i class="fas fa-create"></i> 
                        <!-- Adicionar icone!!! -->
                        Crie sua conta
                    </a>
                </div>
                <div class="navbar-item" *ngIf="isLogged()">
                    <div class="dropdown is-active">
                        <div class="dropdown-trigger" (click)='toggleOptionsList()'>
                            <button class="button dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Felipe Goes</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu" *ngIf='showOptionsList'>
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item" (click)='toggleOptionsList()' value="">
                                    Ver perfil
                                </a>
                                <a class="dropdown-item" (click)='toggleOptionsList()' value="">
                                    Minhas listas
                                </a>
                                <a href="#" class="dropdown-item" (click)='toggleOptionsList()' value="">
                                    Convidar pessoas
                                </a>
                                <a href="#" class="dropdown-item" (click)='toggleOptionsList()' value="">
                                    Sair
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>