<footer class="footer">
    <div class="content has-text-centered">
        <p class="footer-text">
            <strong>{{ title }}</strong> by <a href="https://github/felpgoes">Felipe Goes</a>.
        </p>
        <p class="footer-icons">
            <a href="https://www.linkedin.com/in/felipe-goes/">
                    <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/felpgoes">
                    <i class="fab fa-github"></i>
            </a>
        </p>
    </div>
</footer>