<app-header></app-header>

<div class="dash-header">
    <div class="container">
        <h1 class="title">Dashboard</h1>
        <h2 class="subtitle">Acompanhe suas listas em tempo real!</h2>
    </div>
</div>

<div class="container dash-board">

    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras de casa</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Arroz</p>
                        <p>Feijão</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para o trabalho</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Pepel A4</p>
                        <p>Mouse</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para o churrasco</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Carne</p>
                        <p>Cerveja</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para viajem</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Pão de forma</p>
                        <p>Água</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras de casa</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Arroz</p>
                        <p>Feijão</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para o trabalho</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Pepel A4</p>
                        <p>Mouse</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para o churrasco</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Carne</p>
                        <p>Cerveja</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Compras para viajem</strong>
                                <br>
                                <small>Com: </small>
                                <small>Felipe Goes</small>
                                <br>
                            </p>
                        </div>
                        <p>Pão de forma</p>
                        <p>Água</p>
                        <p>Café</p>
                        <p>Açucar</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="dash-footer">

    <div class="field is-grouped">
        <p class="control">
            <a class="button is-medium">
                Organizar lista
            </a>
        </p>
        <p class="control">
            <a class="button is-medium">
                Deletar lista
            </a>
        </p>
        <p class="control">
            <a class="button is-medium">
                Criar lista
            </a>
        </p>
    </div>

</div>

<app-footer></app-footer>